<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/letter-v.png">
    <link rel="stylesheet" type="text/css" href="/assets/css/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="/assets/js/jquery-3.7.1.min.js" type="text/javascript"></script>
    <script src="/assets/js/slick.min.js" type="text/javascript"></script>
    <script>
      $(document).ready(function(){
        $(".carousel_container").slick({
          arrows: false,
          autoplay: true,
          autoplaySpeed: 1000,
          cssEase: "linear",
          draggable: true,
          infinite: true,
          pauseOnHover: true,
          slidesToScroll: 1,
          slidesToShow: 2,
          speed: 2000,
          variableWidth: true,
        });
      });
    </script>
{% seo %}
  </head>
  <body>
    <!-- MAIN CONTENT -->
    <section id="main_content" class="inner">
      <h1 id="word">{{ site.word }}<span id="pronunciation">| {{ site.pronunciation }} |</span></h1>
      <p id="part_of_speech">{{ site.part_of_speech }}</p>
      <ol id="definitions">
      {% for definition in site.definitions %}
        <li>{{ definition }}</li>
      {% endfor %}
      </ol>
    </section>

    <!-- NAVBAR -->
    <section id="navbar_carousel">
      <h3 class="title">&gt; projects</h3>
      <div class="carousel_container">
        <a href="https://payment-field-engine.vigilandum.io/" target="_blank"><img src="/assets/images/projects/payment-field-engine.png" alt="Payment Field Engine"></a>
        <a href="https://github.com/rynmlng/rynmlng" target="_blank"><img src="/assets/images/projects/github.png" alt="GitHub"></a>
        <a href="https://payment-field-engine.vigilandum.io/" target="_blank"><img src="/assets/images/projects/payment-field-engine.png" alt="Payment Field Engine"></a>
        <a href="https://github.com/rynmlng/rynmlng" target="_blank"><img src="/assets/images/projects/github.png" alt="GitHub"></a>
      </div>
    </section>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Maintained by <a href="https://www.linkedin.com/in/ryanmiling/" target="_blank">Ryan Miling</a> &lt;<a href="mailto:sudo@vigilandum.io">sudo@vigilandum.io</a>&gt;</p>
        <p>Published with <a href="https://pages.github.com" target="_blank">GitHub Pages</a></p>
      </footer>
    </div>
  </body>
</html>
